body {
    background-color: black;
    color: white; 
}

h1 {
    color:red;
}

.paragrafo-1 {
    color:white;
}

.subtitulo {
 color: yellowgreen;
}

.listas {
   color: rgb(135,206,235) ;
}

.imagem-1 {
    width: 40%;
}